*{
    margin:0;
    color:white;
    background-color: black;
}

img{
    height: 350px;
    border: 5px solid white;
}
#mainh1{
    text-transform: uppercase;
    font-family: "Caveat", cursive; 
}
.objs{
    width: 50%;
    margin-left: 25%;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    margin-top: 200px;
    size: 200px;
}
p{
    font-size: 20px;
}